/Training/Nguyen-Van-Mau/WPF_Sample/obj
/Training/Nguyen-Van-Mau/WPF_Sample/bin
/WPF/WPF_Sample/bin
/WPF/WPF_Sample/obj
/RevitAPI/RevitAPI_Sample/bin
/RevitAPI/RevitAPI_Sample/obj
/Nguyen-Van-Mau/RevitAPI/RevitAPI_Sample/bin
/Nguyen-Van-Mau/RevitAPI/RevitAPI_Sample/obj
/Nguyen-Van-Mau/WPF/WPF_Sample/bin
/Nguyen-Van-Mau/WPF/WPF_Sample/obj
