Nguyen-Quang-Trung/btWPF/WPF/.vs/WPF/v15/.suo
Nguyen-Quang-Trung/btWPF/WPF/.vs/WPF/v15/Server/sqlite3/db.lock
Nguyen-Quang-Trung/btWPF/WPF/.vs/WPF/v15/Server/sqlite3/storage.ide
Nguyen-Quang-Trung/btWPF/WPF/.vs/WPF/v15/Server/sqlite3/storage.ide-shm
Nguyen-Quang-Trung/btWPF/WPF/.vs/WPF/v15/Server/sqlite3/storage.ide-wal
Nguyen-Quang-Trung/btWPF/WPF/Bai_1/bin/Debug/Bai_1.exe
Nguyen-Quang-Trung/btWPF/WPF/Bai_1/bin/Debug/Bai_1.pdb
Nguyen-Quang-Trung/btWPF/WPF/Bai_1/obj/Debug/Bai_1.exe
Nguyen-Quang-Trung/btWPF/WPF/Bai_1/obj/Debug/Bai_1.pdb
Nguyen-Quang-Trung/btWPF/WPF/Bai_1/bin/Debug/Bai_1.exe
Nguyen-Quang-Trung/btWPF/WPF/Bai_1/bin/Debug/Bai_1.pdb
Nguyen-Quang-Trung/btWPF/WPF/Bai_1/obj/Debug/Bai_1.exe
Nguyen-Quang-Trung/btWPF/WPF/Bai_1/obj/Debug/Bai_1.pdb
Nguyen-Quang-Trung/btWPF/WPF/Bai_1/bin/Debug/Bai_1.exe
Nguyen-Quang-Trung/btWPF/WPF/Bai_1/bin/Debug/Bai_1.pdb
Nguyen-Quang-Trung/btWPF/WPF/Bai_1/obj/Debug/Bai_1.exe
Nguyen-Quang-Trung/btWPF/WPF/Bai_1/obj/Debug/Bai_1.pdb
*.pdb
*.exe
Nguyen-Quang-Trung/btWPF/WPF/Bai_1/bin/Debug/Bai_1.exe
Nguyen-Quang-Trung/btWPF/WPF/Bai_1/obj/Debug/Bai_1.pdb


log.txt
*.tmp
bin
obj
Debug
/.vs
*.vs/
.vs
*.htm

